
{% extends 'layout.html' %}
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

{% block title %}
    DispoLexi | Diagrama de Sankey
{% endblock %}


{% block content %}

     <!-- bradcam_area -->
     <div class="bradcam_area">
        <div class="single_bradcam  d-flex align-items-center bradcam_bg_1 overlay">
              <div class="container">
                          <div class="bradcam_text text-center">
                            <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <img src="{{ url_for('static', filename = 'img/shape/shape_1.svg')}}" alt="">
                            </div>
                            <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                                <img src="{{ url_for('static', filename = 'img/shape/shape_2.svg')}}" alt="">
                            </div>
                          </div>
              </div>
           </div>
     </div>
    <!-- bradcam_area end -->


    <script type="text/javascript">
        function generaCampos(){
            var idCantidadPalabras = document.getElementById("cantidadPalabrasID").value;
            console.log("el valor del rango es: ",idCantidadPalabras);
            var divNuevo = document.getElementById("nuevo");
            console.log(divNuevo); 
            divNuevo.innerHTML = "";
            divNuevo.innerHTML = divNuevo.innerHTML + "<input type=\"hidden\" name=\"cantidad_palabras\" value =\""+idCantidadPalabras+"\">";

            for (var i = 1; i <= idCantidadPalabras; i++) {
            
                divNuevo.innerHTML = divNuevo.innerHTML + "<input type =\"text\" name = \"palabra"+i+"\" id = \" palabraId"+i+"\" class = \"form-control\" placeholder=\"Inserta palabra "+i+"\" />";
            }
        }
    </script>  

 
    <!-- Script que tiene la funcion que muestra la ventana modal para cargar archivo -->
    <script type="text/javascript">
        //SOLO NUMEROS
        $(function(){
            $("#InputNumero").keydown(function(event){
            //alert(event.keyCode);
                if((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !==190  && event.keyCode !==110 && event.keyCode !==8 && event.keyCode !==9  ){
                    return false;
                }
            });
        });

        function validateForm() {
            var contador = 0;
            console.log("ENTRA A FUNCIONNNN");
            {%for x in lista_poblaciones:%}
                var checkbox = document.querySelector('input[id="{{x}}"]:checked');
                if (checkbox != null) {
                    contador += 1;
                }
            {% endfor %}
            console.log("CONTADOR: ",contador)
            if(contador == 0){
                alert("Seleccione al menos una población.");
                return false;
            }
            else{
                console.log("HAY MARCADOS")
            }
        };
    </script>


    <section class="contact-section">
        <div class="container">
            <div class="jumbotron">
                <center> <h1 class="display-6">Diagrama de Sankey</h1></center><br>
                <p class="text-dark"><b class="text-danger "><a href="#enviarDatos" class="text-danger">El siguiente diagrama sólo es un ejemplo.</a></b> Para tener una mejor experiencia, se debe elegir dos poblaciones y dar clic en el botón de generar diagrama.</p>
                <hr class="my-5">

                <form action="{{url_for('graficaSankey')}}" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data" id="formOpciones" name="myForm" >
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="InputNumero"style="font-size: 18px;" class="text-dark text-justify">Da clic en 'Generar diagrama' después de elegir al menos dos poblaciones. Se recomienda no seleccionar más de tres poblaciones, ya que eso dificultará el entendimiento de la gráfica.  </label>
                                </div>
                                <!--
                                <div class="form-group">
    
                                    <input type="text" autocomplete="off" style="width: 60%;" class="form-control" id="InputNumero" name="cantidad_palabras" placeholder="Ingrese sólo números" required>
                                </div>-->
                                
                                <br><!--
                                <label style="font-size: 18px;" class="text-dark">
                                    Seleccione una opción para elegir las palabras con mayor o menor IDLV de las poblaciones:
                                </label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="radioMayorIdlv" value="1" checked>
                                    <label style="font-size: 16px;" class="form-check-label" for="radioMayorIdlv">
                                        Palabras con mayor IDLV
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="radioMenorIdlv" value="2">
                                    <label style="font-size: 16px;" class="form-check-label" for="radioMenorIdlv">
                                        Palabras con menor IDLV
                                    </label>
                                </div>
                                <br >-->
                                <div class="form-check">
                                    <center>
                                        <button type="submit" class="btn btn-primary btn-lg" id="enviarDatos">Generar diagrama</button>
                                    </center>
                                </div>



                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size: 18px;" class="text-dark"> Seleccione las poblaciones que desea comparar:</label>
                                </div>
                                {% for n in lista_poblaciones %}
                                    <input type="checkbox" id="{{n}}" name="my_checkbox" value="{{n}}" class="form-check-label">
                                    <label  style="font-size: 18px;" for="{{n}}">&nbsp;{{n}}</label> <br>
                                     
                                    
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </form>

                <hr class="my-5" id="ejemplo">

                <center> <h1 class="display-6">Ejemplo de Diagrama de Sankey</h1></center><br>
                <div class="container">

                    <!-- Create a div where the graph will take place -->
                    <center><div id="my_dataviz"></div></center>
            </div> 


            </div> 
        </div>
    </section>






<!-- Load d3.js -->
<script src="{{ url_for('static', filename = 'js/d3.v4.min.js')}}"></script>

<!-- Load the sankey.js function -->
<script src="{{ url_for('static', filename = 'js/sankey.js')}}"></script>


<!-- Add style to links or they won't appear properly-->
<style>
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}
</style>


<script>

// set the dimensions and margins of the graph
var margin = {top: 10, right: 10, bottom: 10, left: 10},
    width = 800 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Color scale used
var color = d3.scaleOrdinal(d3.schemeCategory20);

// Set the sankey diagram properties
var sankey = d3.sankey()
    .nodeWidth(36)
    .nodePadding(290)
    .size([width, height]);

// load the data
d3.json("{{ url_for('static', filename = 'graficaSankey.json')}}", function(error, graph) {

  // Constructs a new Sankey generator with the default settings.
  sankey
      .nodes(graph.nodes)
      .links(graph.links)
      .layout(1);

  // add in the links
  var link = svg.append("g")
    .selectAll(".link")
    .data(graph.links)
    .enter()
    .append("path")
      .attr("class", "link")
      .attr("d", sankey.link() )
      .style("stroke-width", function(d) { return Math.max(1, d.dy); })
      .sort(function(a, b) { return b.dy - a.dy; });

  // add in the nodes
  var node = svg.append("g")
    .selectAll(".node")
    .data(graph.nodes)
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
      .call(d3.drag()
        .subject(function(d) { return d; })
        .on("start", function() { this.parentNode.appendChild(this); })
        .on("drag", dragmove));

  // add the rectangles for the nodes
  node
    .append("rect")
      .attr("height", function(d) { return d.dy; })
      .attr("width", sankey.nodeWidth())
      .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
      .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
    // Add hover text
    .append("title")
      .text(function(d) { return d.name + "\n" + "There is " + d.value + " stuff in this node"; });

  // add in the title for the nodes
    node
      .append("text")
        .attr("x", -6)
        .attr("y", function(d) { return d.dy / 2; })
        .attr("dy", ".35em")
        .attr("text-anchor", "end")
        .attr("transform", null)
        .text(function(d) { return d.name; })
      .filter(function(d) { return d.x < width / 2; })
        .attr("x", 6 + sankey.nodeWidth())
        .attr("text-anchor", "start");

  // the function for moving the nodes
  function dragmove(d) {
    d3.select(this)
      .attr("transform",
            "translate("
               + d.x + ","
               + (d.y = Math.max(
                  0, Math.min(height - d.dy, d3.event.y))
                 ) + ")");
    sankey.relayout();
    link.attr("d", sankey.link() );
  }

});


</script>
{%endblock%}