{% extends 'layout.html' %}
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

{% block title %}
    Herramienta DL
{% endblock %}


{% block content %}

    <!-- bradcam_area -->
    <div class="bradcam_area">
        <div class="single_bradcam  d-flex align-items-center bradcam_bg_1 overlay">
              <div class="container">
                          <div class="bradcam_text text-center">
                            <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <img src="{{ url_for('static', filename = 'img/shape/shape_1.svg')}}" alt="">
                            </div>
                            <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                                <img src="{{ url_for('static', filename = 'img/shape/shape_2.svg')}}" alt="">
                            </div>
                          </div>
              </div>
           </div>
    </div>
    
    <!-- Script que tiene la funcion que muestra la ventana modal para cargar archivo -->
    <script type="text/javascript">
        
        function deseleccionar_todo(){
            for (i=0;i<document.f1.elements.length;i++)
                if(document.f1.elements[i].type == "checkbox")
                    document.f1.elements[i].checked=0
        }

        function seleccionar_todo(){
            for (i=0;i<document.f1.elements.length;i++)
                if(document.f1.elements[i].type == "checkbox")
                    document.f1.elements[i].checked=1
        }


        
        function validateForm() { 
            var contador = 0;
            {%for x in diccionario_carpetas_archivos:%}
                var checkbox = document.querySelector('input[id="{{x}}"]:checked');
                if (checkbox != null) {
                    contador += 1;
                }
            {% endfor %}
            console.log("valor: ",contador);

            if(contador == 0){
                var modal = document.getElementById("mensaje");
                        modal.innerHTML = " <div class=\"alert alert-danger \" role=\"alert\">"
                        + "<center>Seleccione al menos dos poblaciones .</center>"
                        + "</div>";
                return false;
            }
            else{
                var modal = document.getElementById("mensaje");
                        modal.innerHTML = " <div class=\"alert alert-success alert-link\" role=\"alert\">"
                        + "Espere un momento, el archivo está siendo procesado."
                        + "<div class=\"spinner-border\" style=\"float:right;\"></div>"
                        + "</div>";
            }
        };
        function inicializa(){
            let boton = document.getElementById("enviarPoblaciones");
            boton.addEventListener('click', funcion_html);

        };
            
        /*
        function funcion_html(){
            //var checkboxes = document.getElementById("form_select_files").checkbox;
 
            var contador = 0;
            {%for x in diccionario_carpetas_archivos:%}
                var checkbox = document.querySelector('input[id="{{x}}"]:checked');
                if (checkbox != null) {
                    contador += 1;
                }
            {% endfor %}
            console.log("valor: ",contador);
            
            if(contador >= 1){
                console.log("dos o mas: ", contador);
                var modal = document.getElementById("modal");
                modal.innerHTML = modal.innerHTML + ""
                + " <div class=\"modal fade\" id=\"modal_carga\" tabindex=\"-1\" aria-labelledby=\"exampleModalLabel\" aria-hidden=\"true\">"
                +       "<div class=\"modal-dialog modal-lg\">"
                +           "<div class=\"modal-content\" id=\"contenido\">"
                +               "<div class=\"modal-header\">"
                +                  "<h4 class=\"modal-title\" id=\"exampleModalLabel\">Procesando archivos...</h4>"
                +                  "<a href=\"aplicacion\">"     
                +                       "<button type=\"button\" class=\"close\" aria-label=\"Close\">"
                +                           "<span aria-hidden=\"true\">&times;</span>"
                +                       "</button>"
                +                  "</a>"
                +               "</div>"
                +               "<div class=\"modal-body\">"
                +                   "Espere un momento, las poblaciones se estan procesando. En un momento podrá ver el análisis de sus datos.<br/><hr/>"
                +                   "<div class=\"text-center\">"
                +                       "<div class=\"spinner-border text-primary\" role=\"status\" style=\"width: 5rem; height: 5rem;\">"
                +                           "<span class=\"sr-only\">Loading...</span>"
                +                       "</div>"
                +                   "</div>"
                +               "</div>"
                +               "<div class=\"modal-footer\">"
                +                  "<a href=\"aplicacion\">"   
                +                       "<button type=\"button\" class=\"btn btn-danger\">Cancelar</button>"
                +                  "</a>"
                +               "</div>"
                +           "</div>"
                +       "</div>"
                + " </div> ";
            }
            else{
                console.log("uno o cero: ", contador);
                var modal = document.getElementById("modal");
                modal.innerHTML = "";
            }
        };
            */
    </script>


    <!--Selection contiene la grafica de pastel "<canvas>" y el form para elegir poblaciones-->
    <section class="contact-section">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-5"><center>El archivo ha sido cargado.</center></h1>
                <hr class="my-4">
  
                <div class="container"> <!--
                    {{scriptGraficaPie | safe}}
                    {{divPie | safe}}-->
                    <canvas id="chart-area" ></canvas>
                    <hr class="my-4">
                    <h1 class="display-5"><center>Poblaciones y cantidad de archivos</center></h1>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-info" onclick="seleccionar_todo()">Seleccionar todo</button>
                                        </div>

                                        <div class="col-6">
                                            <button type="button" class="btn btn-info" onclick="deseleccionar_todo()">Deseleccionar todo</button>
                                        </div>
                                    </div>
                                </div>
                        
                            </div><hr>
                            <form class="form-contact contact_form" name="f1" action="{{url_for('Select_files')}}" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data" id="form_select_files" name="myForm">
                                
                                <table class="table">

                                    <tbody>

                                        {% for n in diccionario_carpetas_archivos %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <th scope="col">
                                                    <label class="font-weight-bold" style="color: black; font-size: 16px;"><input type="checkbox" checked="" name="my_checkbox" id="{{n}}" style="width:16px; height:16px;" value="{{n}}"> {{n}}:</label>
                                                </th>
                                                <th scope="col">    
                                                    {{diccionario_carpetas_archivos.get(n)[0]}} archivos
                                                </th>
                                            </tr>
                                        {% endfor %}
                                            
                                    </tbody>
                                </table>

                                            <tr>
                                                <th align="center" colspan="4">
                                                    <div class="container">
                                                        <div id="mensaje"></div>





                                                        <div class="row">
                                                            <div class="col-md"> 

                                                            </div>

                                                            <div class="col-md">

                                                                <input type="hidden" name="filename" value="{{filename}}">
                                                                <input type="hidden" name="val_lista_de_carpetas" value="{{lista_de_carpetas}}">
                                                                <input type="hidden" name="val_ruta_carpeta_contenedora" value="{{ruta_carpeta_contenedora}}">
                                                                <button type="submit" data-toggle="modal" data-target="#modal_carga" class="btn btn-primary" id="enviarPoblaciones">Procesar archivos</button>
                                                            </div>
                                                            <div class="col-md">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                            </form>

                            
                            <!-- Modal -->
                            <div id="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Scrip para crear la grafica de pastel con los datos de poblaciones y archivos-->
    <script>
        var palabras = [];
        var colores = [];
        {%for x in diccionario_carpetas_archivos:%}
            var palabra = "{{x}}: " + {{diccionario_carpetas_archivos.get(x)[0]}};
            palabras.push(palabra);
        {% endfor %}
        var dynamicColor = function () {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgba(" + r + "," + g + "," + b + ",0.7),";
        };
        {% for x in diccionario_carpetas_archivos:%}
            var color = dynamicColor();
            colores.push(color);
        {% endfor %}
        var config = {
            type: 'pie',//tambien se puede poner 'doughnut' para que la grafica sea una dona
            data: {
                datasets: [{
                    data: [ {%for x in diccionario_carpetas_archivos:%}
                                {{diccionario_carpetas_archivos.get(x)[0]}},
                            {%endfor%}],
                    backgroundColor: [{% set count = [ ] %}{%for x in diccionario_carpetas_archivos:%}
                                        
                                        //'{{diccionario_carpetas_archivos.get(x)[1]}}',
                                        '{{listaColoresUno[count|length]}}',
                                        {% set __ = count.append(1) %}
                                    {%endfor%}],
                    label: 'Dataset 1'
                }],
                labels: palabras,
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Total de archivos por población encontrados en el archivo \"{{nombre_carpeta}}.zip\"'
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };
        var ctx = document.getElementById('chart-area').getContext('2d');
        var myDoughnut = new Chart(ctx, config);
    </script>



{% endblock%}
