
	<!-- <h2 class="alert-heading">Análisis de los datos de las distintas poblaciones </h2>
	<div class="alert alert-primary" role="alert">
 
  <p  class="text-primary">A continuación elige una de las siguientes gráficas y podras visualizar su contenido un tipo de an´slisis de los datos de tus poblaciones.</p>
  <hr>

  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>-->
<div class="jumbotron">
 <center> <h1 class="display-4">Análisis de los datos de las distintas poblaciones</h1></center>
  <p class="text-dark">A continuación puede elegir una de las siguientes gráficas para visualizar su contenido al hacer un anáslisis a los datos de sus poblaciones.</p>
  <hr class="my-3">


<div class="container">
  <div class="row">
    <div class="col-sm">  
<!--TARJETA GRAFICA DE BARRAS VERTICAL-->
<center>
  <div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename = 'img/graficas/graficaBarVer.png')}}" class="card-img-top" alt="Gráfica de Barras Vertical">
    <div class="card-body">
      <h3 class="card-title">Gráfica de barras</h3>
      <p class="card-text">Se utiliza para mostrar la comparación de varios conjuntos de datos uno al lado del otro.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Selecciona las poblaciones</li>
        <li class="list-group-item">Elige el número de palabras</li>
        <li class="list-group-item">
          <center>
            <form action="{{url_for('graficaBarVer')}}" method="GET">
              <button type="submit" class="btn btn-primary">Ver gráfica</button>  
            </form>
          </center>
        </li>
    </ul>
  </div>
</div></center><br/>

    </div>
    <div class="col-sm">
      
<!--TARJETA GRAFICA DE RADAR-->
<center>
  <div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename = 'img/graficas/graficaRadar.png')}}" class="card-img-top" alt="Gráfica de Radar">
    <div class="card-body">
      <h3 class="card-title">Gáfica de radar</h3>
      <p class="card-text">Una gráfica de radar es una forma de mostrar múltiples puntos de datos y la variación entre ellos.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Selecciona las poblaciones</li>
        <li class="list-group-item">Elige el número de palabras</li>
        <li class="list-group-item">
          <center>
            <form action="{{url_for('graficaRadar')}}" method="GET">
              <button type="submit" class="btn btn-primary">Ver gráfica</button>  
            </form>
          </center>
        </li>
    </ul>
  </div>
</div></center><br/>
    </div>
    <div class="col-sm">
      
<!--TARJETA GRAFICA DE BARRAS Sankey-->
<center>
  <div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename = 'img/graficas/sankey.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Diagrama Sankey</h3>
      <p class="card-text">Permite visualizar cómo están asociadas las diferentes poblaciones.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Selecciona las poblaciones</li>       <li class="list-group-item">
          <center>
            <form action="{{url_for('graficaSankey')}}" method="GET">
              <button type="submit" class="btn btn-primary">Ver gráfica</button>  
            </form>
          </center>
        </li>
    </ul>
  </div>
</div></center><br/>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-sm">  
<!--TARJETA GRAFICA DE BARRAS VERTICAL-->
<center>
  <div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename = 'img/graficas/listas.png')}}" class="card-img-top" alt="Gráfica de Barras Vertical">
    <div class="card-body">
      <h3 class="card-title">Listas de disponibilidad léxica</h3>
      <p class="card-text">Aquí se pueden observar las listas de palabras más relevantes con su valos de IDLV por palabra.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">listas de palabras con IDLV</li>
        <li class="list-group-item">Se puede descargar la lista de palabras</li>
        <li class="list-group-item">
          <center>
            <form action="{{url_for('listasDL')}}" method="GET">
              <button type="submit" class="btn btn-primary">Ver Listas</button>  
            </form>
          </center>
        </li>
    </ul>
  </div>
</div></center><br/>

    </div>

  </div>
</div>


  
</div>
