{% extends 'layout.html' %}
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

{% block title %}
    DispoLexi | Gráfica Radar
{% endblock %}


{% block content %}

     <!-- bradcam_area -->
     <div class="bradcam_area">
        <div class="single_bradcam  d-flex align-items-center bradcam_bg_1 overlay">
              <div class="container">
                          <div class="bradcam_text text-center">
                            <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <img src="{{ url_for('static', filename = 'img/shape/shape_1.svg')}}" alt="">
                            </div>
                            <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                                <img src="{{ url_for('static', filename = 'img/shape/shape_2.svg')}}" alt="">
                            </div>
                          </div>
              </div>
           </div>
     </div>
    <!-- bradcam_area end -->

        <section class="contact-section" backgroud-color="white">
            <div class="container">

	<div>
		<canvas id="chartRadar" height="200">askjdhk</canvas>
	</div>















	<script>
		var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};


		console.log("valor de newcolor: ");
		console.log("entra");

		//var colorNamess = Object.keys(window.chartColors);

		console.log("valor de entra 2: ");
		var palabras = [];
    	{%for x in lista_palabras%}palabras.push('{{x}}')
    	{% endfor %}

		console.log("valor de palabras: ",palabras);
    var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgba(" + r + "," + g + "," + b + ",";
         };


		var color = Chart.helpers.color;
		var config = {
			type: 'radar',
			data: {
				labels: palabras,


				datasets: [
				{% set count = [ ] %}
				{% for x in lista_poblaciones_seleccionadas:%}
				{
				
            

            
                label: '{{x}}',
               	backgroundColor:'{{listaColoresUno[count|length]}}',
                borderColor:'{{listaColoresDos[count|length]}}',
                pointBackgroundColor: '{{listaColoresDos[count|length]}}',
				data: [{%for n in dic_Palabras_iguales[x]['IDLV']:%} {{n}},{%endfor%}]

				},

                    {% set __ = count.append(1) %}
				{% endfor %}]
			},
			options: {
				legend: {
					position: 'top',
					fontSize: 30,
				},
				title: {
					display: true,
					text: 'Gráfica Radar',
					fontSize: 30,
					//fontColor: 'black',
					//fontFamily:'Helvetica'
				},
				scale: {
					ticks: {
						fontSize: 15,
						beginAtZero: true
					}

				}
			}
		};

        var ctx2 = document.getElementById('chartRadar').getContext('2d');
        var graficaRadar = new Chart(ctx2,config);
		//window.onload = function() {
		//	window.myRadar = new Chart(document.getElementById('canvas'), config);
		//};

	</script>


            </div> 

        </section>
  
{%endblock%}